*{
    list-style: none;
}
body{
    margin: auto;
    background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),
    linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%,
    rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%, 
    transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); 
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: repeating-linear-gradient(293deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,
    hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(43deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(0deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,
    hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
}

h1{
    text-decoration: double;
}
h2{
    font-size: larger;
    text-transform: capitalize;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: xx-large;
    text-transform: capitalize;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
p{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.color-white{
    color: rgb(245, 245, 245);
}

.d-flex{
    display: flex;
}

.container{
    padding: 1em;
    
}
.logo{
    width: 40%;
    margin: 13px;
}
a.button{
    padding: 0.5em;
    background-color: rgb(100, 158, 208);
    font-style: oblique;
    margin: 2em;
    border-radius: 10px;
    color:white;
    text-decoration: none;
    width: 100px;
}
a.button:hover{
    background-color: rgb(41, 91, 135);
}
nav 
{
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    height: 100px;
    background: #48435C;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    color: white;
}
 
nav a:hover 
{
    background: #83818c
}
label, #toggle
{
    display: none;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}
  
.title{
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 
    25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%,
     rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 
     34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),
     linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, 
     rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,
     rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 
    51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
    text-align: center;
    font-size: x-large;
    margin: 0 auto;
    padding: 3.5em;
}
.name{
    color: rgb(252, 245, 245);
    font-size: 60px;
    font-weight: bolder;
}
.container-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-presentation{
    font-size: larger;
}
.container-face{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.face{
    border-radius: 200px;
    width: 34%;
}

.img-projets{
    width: 50%;
}
.projets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.title-projet{
    font-weight: bold;
}
.img-training{
    width: 60%;
    margin-bottom: 30px;
}
.training{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.date{
    font-weight: 900;
}

.contact{
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 
    25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%,
     rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 
     34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),
     linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, 
     rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,
     rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 
    51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.title-contact{
    color: white;
}
.label-form label{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}
.button-form{
    background-color: rgb(100, 158, 208);
    color: white;
    width: 240%;
    border-radius: 8px;
    padding: 13px;
}
.input-name{
    font-size: 30px;
    
}
.input-mail{
    font-size: 30px;
}
.input-msg{
    font-size: 32px;
    margin-left: 0px;
}
footer{
    background-color: #48435C;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

 
@media all and (max-width: 991px)
{
    body{
        padding: 0px;
    }
    .bebas-neue-regular {
        font-size: 1.5em;
    }

    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 100%;
    }

    .title{
        width: 90%;
        padding: 0.5em;
    }

    #toggle:checked + .main_pages {
        display: flex;
    }
 
    label
    {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        margin: 0px 10px;
        font-size: 40px;
        color: white;
    }
    .label-form
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
     
    }
    .label-form label{
        width: 10px;
        width: 50px;
        font-size: 17px;
    }
    
    .button-form{
        width: 165%;
    }
    .input-name{
        font-size: 17px;
        margin-left: 0px;
    }
    .input-mail{
        font-size: 17px;
        margin-left: 0px;
    }
    .input-msg{
        font-size: 24px;
        margin-left: -2px;
        width: 214px;
    }
    .container-face{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .face{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer{
        width: 90%;
    }
}

